<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <main>
        <h1><%= title %></h1>
        <p>Explore these species found in the reserve:</p>
        <section class="content-section">
            <% items.forEach(function(item){ %>
                <div class="content-item">
                    <h2><%= item.title %></h2>
                    <img src="<%= item.image %>" alt="<%= item.title %>" class="content-image"/>
                    <p><%= item.description %></p>
                    <p><%= item.edibility %></p>
                    <p><%= item.habitat %></p>
                    <p><%= item.season %></p>
                </div>
            <% }) %>
        </section>
    </main>
</body>
</html>

