<h1>Gallery</h1>
<section class="gallery-section">
  <% sightings.forEach(sighting => { %>
    <article class="gallery-item">
      <img src="/uploads/<%= sighting.image %>" alt="<%= sighting.speciesName %>"/>
      <h2>Species Name: <%= sighting.speciesName %></h2>
      <p>Date: <%= sighting.date.toISOString().split('T')[0] %></p>
      <p>Description: <%= sighting.description %></p>
    </article>
  <% }) %>
</section>

<section class="log-sighting">
  <h2>Log a New Sighting</h2>
  <form method="post" action="/users/log-sighting">
    <label for="species-name">Species Name:</label>
    <input type="text" id="species-name" name="speciesName" required/>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required/>

    <label for="desc">Description (optional):</label>
    <textarea id="desc" name="description"></textarea>

    <label for="image-upload">Upload Image:</label>
    <input type="file" id="image-upload" name="image" accept="image/*"/>

    <button type="submit">Submit</button>
  </form>
</section>
